.logo {
  font-size: 7rem;
  color: $color-primary;
  inline-size: 11rem;
  block-size: 11rem;
  outline: 3px solid $color-primary;
  border-radius: 50%;
  @include flexLayout;
}

.main-name {
  font-family: $font-nunito;
  font-size: 5rem;
  color: $color-secondary;
  @include textStyles;
}

.sub-name {
  font-family: $font-josefinSans;
  font-size: 1.8rem;
  color: $color-secondary;
  text-align: center;
  @include textStyles;
}

.main-heading {
  font-family: $font-dancingScript;
  font-size: 10rem;
  font-weight: 300;
  color: $color-primary;
  margin-block-end: 4rem;
}

.sub-heading {
  font-family: $font-josefinSans;
  font-size: 6rem;
  font-weight: 300;
  color: $color-secondary;
  margin-block-end: 6rem;
}

.main-btn {
  inline-size: 17rem;
  block-size: 4.5rem;
  font-family: $font-josefinSans;
  font-size: 1.4rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-color: transparent;
  border: 1px solid $color-primary;
  outline: none;
  cursor: pointer;
  transition: all 0.1s;

  &:hover {
    background-color: $color-primary;
    color: $color-dark;
  }
}
