.about {
  @include flexLayout;
  justify-content: space-around;
  margin-block-start: $space-xl-5xl;
  margin-block-end: $space-6xl-7xl;

  &__start {
    justify-self: flex-start;
    flex: 0 1 40%;
    @media (max-width: 800px) {
      display: none;
    }

    img {
      position: relative;
      inline-size: 100%;
      inset-inline-start: -30%;
      opacity: 0.7;
    }
  }

  &__end {
    flex: 0 1 60%;
    @include flexLayout($space-xl-2xl);
    flex-direction: column;
    padding-inline-end: 1rem;

    @media (max-width: 800px) {
      flex: 0 1 100%;
      padding-inline: $space-s-m;
    }

    .stars {
      @include flexLayout($space-s-m);
    }

    .star {
      font-size: $step-1; // 1.5rem
      color: $color-primary;
    }

    .description {
      font-family: $font-josefinSans;
      font-size: $step-4; // 2.5rem
      font-style: italic;
      color: $color-secondary;

      &::first-letter {
        margin-inline-start: $space-xl-2xl; // 5rem
      }
    }
  }
}
