@use '../base/' as b;

.about {
  @include b.flexLayout;
  justify-content: space-around;
  margin-block-start: b.$space-xl-5xl;
  margin-block-end: b.$space-6xl-7xl;

  &__start {
    justify-self: flex-start;
    flex: 0 1 40%;
    @media (max-width: 800px) {
      display: none;
    }

    img {
      position: relative;
      inline-size: 100%;
      inset-inline-start: -30%;
      opacity: 0.6;
      z-index: -1;
    }
  }

  &__end {
    flex: 0 1 60%;
    @include b.flexLayout(b.$space-xl-2xl);
    flex-direction: column;
    padding-inline-end: 1rem;

    @media (max-width: 800px) {
      flex: 0 1 100%;
      padding-inline: b.$space-s-m;
    }

    .stars {
      @include b.flexLayout(b.$space-s-m);
    }

    .star {
      font-size: b.$step-1; // 1.5rem
      color: b.$color-primary;
    }

    .description {
      font-family: b.$font-josefinSans;
      font-size: b.$step-4; // 2.5rem
      font-style: italic;
      color: b.$color-secondary;

      &::first-letter {
        margin-inline-start: b.$space-xl-2xl; // 5rem
      }
    }
  }
}
