@use '../base/' as b;

.header {
  @include b.flexLayout(10vh);
  flex-direction: column;
  inline-size: 100%;
  block-size: 100vh;
  padding-block-start: 10vh;
  padding-block-end: 10vh;
  background: linear-gradient(
      rgba(b.$color-black, 0.8),
      rgba(b.$color-black, 0.6)
    ),
    url(../assets/img/bg.webp);

  //  **** not supported yet ****
  // -----------------------------
  // background-image: image-set(
  //   '../img/bg.webp' type('image/webp'),
  //   '../img/bg.jpg' type('image/jpeg')
  // );

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  &__brand {
    @include b.flexLayout(b.$space-m-l); // 2rem
  }

  &__banner {
    @include b.flexLayout(b.$space-xl-2xl); // 6rem
    flex-direction: column;
    text-align: center;
  }
}
